.search-div{
     width: 100%;
     height: 100px;
     display: flex;
     justify-content: center;
     align-items: center;  
}
.search-div input{
     width: 600px;
     border-radius: 50px;
     padding: 14px;
     font-size: 1.2rem;
     outline: none;
     border: 1px solid gray;
     position: relative;
}
.search-icon{
     width: 104px;
     background-color: rgb(87, 87, 226);
     border-radius: 0 50px 50px 0;
     height: 50px;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     right: 590px;
     cursor: pointer;
    
}
.search-icon img{
     width: 30px;
     height: 30px;
    filter: invert(1) brightness(2);
}